body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Roboto", "Raleway", -apple-system,
    BlinkMacSystemFont, "Droid Sans", "Cantarell", "Segoe UI", "Oxygen",
    "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
